.favoritesContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 10px;
    grid-auto-rows: minmax(100px, auto);
    /* padding-bottom: 55px; */
    text-align: left;
}
img{
    max-width: 18rem;
    max-height: 23rem;
}
h4{
    text-align: center;
    margin-left: -16rem;
}
.container1{
    justify-content: center;
    margin-left: 16rem;
}
