ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

li {
  font-size: 1.25rem;
}

.navBar {
  background: transparent;
  color: white;
  margin-bottom: 1rem;
  padding: 1.5rem 2rem 0rem 0rem;
}

.navBar button {
  background: #3F4A3C;
  border: 2px solid #3F4A3C;
  color: white;
  padding: 0.4rem 0.5rem;
}

.navBar button:hover {
  background: white;
  color: green;
  cursor: pointer;
}

.brand {
  cursor: pointer;
  font-size: 2rem;
}
